a {
    text-decoration: none;
}
.user-card {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    flex-direction: column;
    padding: 2rem;
    &:hover {
        transform: scale(1.1);
    }
    img {
        height: 3rem;
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @media (min-width: 780px) {
            flex-direction: row;
        }
    }
    &__owner {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
